<h3>
    User Page
</h3>
<h3><span translate>Menu.Products</span></h3>
<p>
    <select [(ngModel)]="selectedLanguage" name="selectedLanguage" (change)="switchLanguage()">
        <option *ngFor="let languageModel of languageModels" [ngValue]="languageModel.name">{{languageModel.name}}</option>
      </select>
</p>
<input [(ngModel)]="name" />
<button (click)="ShowA()">A</button>
<button (click)="ShowB()">B</button>

<div class="col-md-12">
    <div class="col-md-12" *ngIf="_PanelModel.DisplayPanelA">
        <app-panel-a></app-panel-a>
    </div>
    <div class="col-md-12" *ngIf="_PanelModel.DisplayPanelB">
        <app-panel-b [data]="_PanelModel"></app-panel-b>
    </div>
</div>

<div class="col-md-12" *ngFor="let item of userList">
    <p>{{ item }}</p>
</div>
<h5 style="color:red;">
    {{_PanelModel.TextMsg}}  {{name}}
</h5>

<h4>
    Test Page
    <button mat-raised-button (click)="openDialog()">OpenDialog</button>
 </h4>
 <input type="text" #inputbox (keyup)="functionInput(inputbox.value)" />
 <h5 style="color:green;">
 {{ inputbox.value }}
 </h5>